<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidatc.protectedcontent">
    <permission android:name="com.androidatc.protectedcontent.read"
        android:permissionGroup="com.androidatc.protectedcontent.pg"
        android:label="Read Access"
        android:protectionLevel="signature"></permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.android.protectedcontent.provider"
            android:name="com.androidatc.protectedcontent.DataProvider"
            android:readPermission="com.androidtac.protectedcontent.read"></provider>
    </application>

</manifest>